# HUNL bucket abstraction config
preflop_private_buckets=24
flop_private_buckets=48
turn_private_buckets=40
river_private_buckets=32
flop_public_buckets=16
turn_public_buckets=12
river_public_buckets=10
chance_outcomes=128
